body {
    line-height: 1.6;
    margin: 0;
    padding: 0;
}
.container-1 {
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
}
h1 {
    font-size: 36px;
    margin-bottom: 10px;
    text-align: left;
}
p {
    font-size: 18px;
    margin-bottom: 20px;
    text-align: justify;
}
h2 {
    font-size: 28px;
    margin-bottom: 15px;
}
.linkedin {
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    color: #0e76a8;
    font-size: 18px;
    font-weight: bold;
    border: 1px solid #0e76a8;
    padding: 8px 16px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}
.linkedin:hover {
    background-color: #0e76a8;
    color: #fff;
}
.about-project, .about-me {
    margin-bottom: 30px;
}